*{
    padding: 0px;
    margin: 0px;
}
header{
    height: 25vh;
    background-color: rgb(20, 20, 20);
}
main{
    display: flex;
    flex-direction: column;
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.866);
}
.sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 110%;
}
.sec1>div{
    position: absolute;
    bottom: 0px;
}
form{
    display: flex;
    gap: 8px;
    align-items: center;
}
form>input{
    width: 550px;
    height: 33px;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    border: none;
    font-size: 20px;
    padding: 5px 8px;
    color: white;
    outline: none;
}
input::placeholder{
    font-style: 20px;
}
form>button{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: white;
    background-color:#1E6F9F;
    border: none;
    gap: 5px;
    justify-content: center;
    padding: 9px 12px;
    border-radius: 10px;
}
.sec2{
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: auto;

}
.sec2>div{
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 40px;
}
h4{
    color: white;
}
h4>span{
    background-color: grey;
    padding: 1px 5px;
    border-radius: 50%;
}
.top{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid grey;
    padding-bottom: 10px;
}
h2{
    color: gray;
}
.fa-regular{
    font-size: 50px;
    color: grey;
}
.empty{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
}
.card{
    display: flex;
    padding: 10px;
    background-color: rgb(4, 175, 232);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.card>button{
    background-color: rgb(4, 175, 232);
    color: wheat;
    border: none;
}
.card>p{
    color: white;
    font-size: large;
}