.container{
  display: flex;
  height: fit-content;
  gap: 20px;
}
.element1{
  overflow-y: scroll;
  flex: 1;
  background-color: violet;
}.element2{
  overflow-y: scroll;
  flex: 1;
  background-color: grey;
}